.sidebar {
  flex: 1;
  /* background-color: #b5b5b5; */

  /* display: flex;
  flex-direction: column; */

  height: calc(100vh - 80px);
  overflow-y: auto;
  font-size: 100%;
  font-weight: 700;
  overflow-y: scroll;
  /* color: black; */
}

@media (prefers-color-scheme: dark) {
  .titleWrapper {
    color: white;
    background: black;
  }

  .sidebar {
    color: black;
  }
}

.sidebarMenu {
  width: 100%;
  height: 1.563vw;
  background-color: #181d4b;
  margin-bottom: 0.26vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(184deg, #3269c0 35.17%, #181d4b 87.53%);
  font-size: 14.5px;
}

.isOpened {
  background: linear-gradient(184deg, #df1313 35.17%, #7c1010 87.53%);
}

.sidebarMenu.isOpened div {
  color: #ffa500;
}

.sidebarMenuLabel {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffa500;
}

.sidebarMenuIcon {
  position: absolute;
  width: 10%;
  right: 0px;
  color: #ffa500;
}

.titleWrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  border: solid 2px black;
  margin-bottom: 3px;
  /* color: white; */
}

.companyName:hover {
  cursor: pointer;
}

.titleWrapper > .companyName {
  width: 101px;
  height: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  font-size: 16px;
}
.companyName:nth-child(2) {
  border-left: solid 2px black;
}

.hideBtnContainer {
  display: flex;
  justify-content: space-between;
}
.hideBtnContainer > button {
  width: 49%;
  height: 1.563vw;
  background: linear-gradient(184deg, #3269c0 35.17%, #181d4b 87.53%);
  border: none;
  color: #ffa500;
  font-size: 16px;
  margin-bottom: 0.26vw;
  cursor: pointer;
}
