.boxInner {
  width: 100%;
  /* 1425px */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxContainer1 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.boxContainer2 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.boxContainer3 {
  width: 20vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxContainer4 {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.boxContainer5 {
  width: 15vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.gridmaincustom > div:nth-child(2) > div:nth-child(3) {
  display: none;
}

.submitBtn {
  width: 100px;
}
.searchInput {
  margin: 0 20px;
}
.centerBox > input[type="text"],
.centerBox > select {
  width: 120px;
  font-size: 13px;
}
.searchBtn {
  border: none;
  background-color: #3342c9;
  color: white;
  font-size: 13px;
}
.searchBtn:hover {
  cursor: pointer;
}

.barSection {
  padding: 0.26vw 0;
  background-color: #e5e5e5;
  display: flex;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 10%;
  font-size: 13px;
}
