a.customerServiceDetailTableWrapper {
  min-width: 1680px;
  font-size: 13px;
}

.customerServiceDetailTable {
  width: 100%;
  border-collapse: collapse;
}

.customerServiceDetailTable tr {
  text-align: center;
  height: 24px;
  color: black;
  border: 1px solid white;
  width: 800px;
}
.customerServiceDetailTable tr td {
  background-color: #181d4b;
  color: white;
  width: 200px !important;
}
.contents1 {
  width: 100% !important;
}
.buttonBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: transparent;
}
.buttonBox > button {
  width: 100%;
  height: 100%;
}
.customerServiceDetailTable tr td:nth-child(odd) {
  background-color: #5386b5;
}

.customerServiceDetailTable select,
.customerServiceDetailTable input {
  background-color: #181d4b;
  color: white;
  width: 100%;
  height: 24px;
}

.customerServiceDetailTable input {
  border: none;
}

.customerServiceDetailTable .title {
  background-color: #3a6185;
  border-radius: 5px 5px 0px 0px;
  color: white;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
}

.bottomBtnWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0px 2px;
}

.templateBtnWrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 3px;
}
/* .editors {
} */

.widthSection {
  /* display: grid;
    grid-template-columns: 1.1fr 3.23fr; */
  width: 88vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sectionTitle {
  background-color: #696969;
  color: black;
  width: 100%;
  text-align: center;
  /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
}

.sectionContents {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sectionContents > input {
  width: 100%;
  padding-left: 10px;
}
.sections {
  width: 100%;
  display: grid;
  grid-template-columns: 1.03fr 1fr;
}

.saveBtnWrapper > button:hover {
  cursor: pointer;
}
