.TotalMoney {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: row;
}

.TotalMoney > span {
  margin-right: 20px;
}

.boxContainer1 {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.centerBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}
.ArrowBtn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ArrowBtn > svg {
  width: 100%;
  height: 80%;
}

.cancleBtnBox {
  height: 23px;
  padding: 0;
  font-size: 12px;
}
.cancleBtnBox > button {
  height: 20px;
  padding: 0;
  font-size: 12px;
  width: 70px;
  border: none;
  color: white;
  background-color: #ff0000;
  border-radius: 4px;
}
.cancleBtnBox > button:hover {
  cursor: pointer;
}

.searchInput {
  margin: 0 20px;
}
.centerBox > input[type="text"],
.centerBox > select {
  width: 120px;
  font-size: 13px;
}
.searchBtn {
  border: none;
  background-color: #3342c9;
  color: white;
  font-size: 13px;
}

.barSection {
  padding: 0.26vw 0;
  background-color: #e5e5e5;
  display: flex;
  min-height: 40px;
  align-items: center;
  width: 100%;
  padding: 0 10%;
  font-size: 13px;
}
