.boxContainer1 {
  width: 13.177vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxContainer2 {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.boxContainer3 {
  /* border:1px solid red; */
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
}

.boxContainer4 {
  /* border:1px solid red; */
  width: 14%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tableContainer {
  width: 100%;
  border-bottom: 3px double black;
}

.footerContainer {
  padding: 10px;
  width: 100%;
  height: 71px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footerFirstRowContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 46%;
}

.footerFirstRowInner {
  width: 22.6%;
  display: flex;
  justify-content: space-between;
}

.footerSecondRowContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 46%;
}

.footerSecondRowInner {
}

.footerSecondRowButtons {
  width: 21%;
  display: flex;
  justify-content: space-between;
}

.footerSecondRowInput {
  width: 22.6%;
  display: flex;
  justify-content: space-between;
}

.boardTitle {
  width: 100%;
  text-align: center;
}

.boardTitle:hover {
  cursor: pointer;
}
