.ArrowBtn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ArrowBtn > svg {
  width: 100%;
  height: 80%;
}

.addedWrapper {
  width: 100%;
  /* position: absolute; */
  border: solid #808080 3px;
  /* left: 0;
  top: 60px; */
  z-index: 1000;
  background-color: white;
}
.gridmaincustom > div:nth-child(2) > div:nth-child(3) {
  display: none;
}

.customs {
  color: black;
  background-color: #808080;
}

.Events {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  background: white;
}

.folders {
  width: 300px;
  background-color: yellow;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 30px;
}

.MuiDataGrid-main > div:nth-child(3) {
  display: none;
}
