/* 반응형 boxWrapper만 바꾸면됨 */

.boxWrapper {
  display: flex;
  background-color: white;
  height: 40px;
  align-items: center;
  color: black;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 4px 10px;
  margin-top: 3px;
}

@media (max-width: 1024px) {
  .boxWrapper {
    height: 46px;
  }
}
